.dropdown {
  padding: 12px 18px;
  border-radius: 25px;
  background-color: #111;
  border: 1px solid #2a2a2a;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.dropdown:focus {
  border: 1px solid #00e0ff;
}
