.controls {
  display: flex;
  gap: 20px;
  margin: 30px;
  
  align-items: center;
}

.grid {
  display: grid;
  margin-left: 30px;
  margin-right: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}
