.searchContainer {
  flex: 1;
}

.searchInput {
  width: 100%;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid #2a2a2a;
  background-color: #111;
  color: white;
  outline: none;
  font-size: 14px;
}

.searchInput:focus {
  border: 1px solid #00e0ff;
}
