.main{
    margin: 1rem 3.5rem 1rem 3.5rem;
}

.tag{
    color:white;
    font-size:3rem;
    font-weight:bolder;
}
.quote{
    color:rgb(161, 159, 159);
    font-size:1.2rem;
}

.section{
    display: flex;
    justify-content: space-between;
}

.search{
    width:70%;
    height:10%;
    display: flex;
    gap:0.5rem;
    padding:1rem;
    border-radius: 20px;
    border:0.5px solid rgb(161, 159, 159); 
}

.search:focus-within{
    border-color: rgb(0, 200, 200);
}

.category{
    width: 12%;
}

.level{
    width: 11%;
}

.inp_{
    border:none;
    font-size: 1rem;
    outline: none;
    border-radius:20px;
    background-color: black;
    width:100%;
}

.btn_{
    background-color: black;
    border:none;
    display:flex;
    gap:0.5rem;
    align-items:center;
    font-size:1rem;
}

.category_Overlay{
 
    position:fixed;
    top:39%;
    left:72%;
    z-index:1000;
}

.modal{
    width: 120%;
    border-radius: 16px;
    background-color:black;
    color:white;
    padding:0.8rem;
    background: rgba(141, 132, 132, 0.3);
    backdrop-filter: blur(10px); 
}

.list_categories{
    margin:0.4rem;
}

.level_Overlay{
    position:fixed;
    top:39%;
    left:82%;
    z-index:1000;
}